section.info
    div.info1
        h2 联系方式
        dl 
            dt 北京飞拓互联科技有限公司
            dd
                p 地址： 北京市朝阳区望京绿地中心-中国锦3305 
                p 邮编： 100000
                p 电话： 010-64700102
    div.loc
    div.info2
        dl.media
            dt 媒体联系及品牌合作
                dd 
                    p 电话： 010-53343097 
                    p 邮箱： fittimebd@rjfittime.com
        dl.custom
            dt 客服
                dd
                    p 电话： 4000-337-095 
                    p 邮箱：costomerservice@rjfittime.com

