extends ../../common/frame.jade
block content
    div.nav-wrap
        div.content-wrap 
            include ./nav.jade
    include  ./header.jade
    div.content-wrap 
        include  ./info.jade        
    div.content-wrap 
        include ../../common/footer.jade

 