nav.nav
   ul
      li
          a(href="") 公司简介
      li
          a(href="") 团队成员
      li
          a(href="") FT文化
      li
          a(href="") FT大事记
      li
          a(href="") FT新闻
      li
          a(href="") 加入我们
      li
          a(href="") 联系我们
          

          
          