.info{
    padding-top:126px;
    padding-bottom:185px;
    overflow:hidden;
    .info-item{
        height:162px;
        float:left;
        background-repeat:no-repeat;
        &:nth-child(1){
            background-image:url(../assets/info1.png);
            .amount{
                margin-left:70px;
            }
            .other{
                margin-right:60px;               
            }
        };
        &:nth-child(2){
            background-image:url(../assets/info2.png);
             .amount{
                margin-left:56px;
            }
            .other{
                margin-right:60px;               
            }
        };
        &:nth-child(3){
            background-image:url(../assets/info3.png);
             .amount{
                margin-left:74px;
            }
            .other{
                margin-right:60px;               
            }
        };
        &:nth-child(4){
            background-image:url(../assets/info4.png);
             .amount{
                margin-left:63px;
            }
        };
        .amount{
            float:left;
            .num{
                float:left;
                font-size:80px;
                font-weight:bold;
                color:#222;
            }
            .desc{
                margin-top:20px;
                font-size:14px;
                color:#8c8c8c;
                text-align:center;
            }         
        }
        .other{
            float:left;
            margin-left:24px;
            width:20px;
            float:left;
            .plus{
                font-size:20px;
                color:#8c8c8c;
            }
            .unit{
                margin-top:22px;
                font-size:20px;
                color:#8c8c8c;
            }
        }
    }
}