.info{
    .info1{
        padding-left:85px;
        h2{
            padding-top:100px;
            padding-bottom:52px;
            font-size:36px;
            font-weight:bold;
        }
        dl{
            padding-bottom:110px;
            dt{
                font-size:24px;
                font-weight:bold;
                padding-bottom:22px;
            }
            dd{
                p{
                    font-size:16px;
                    line-height:32px;
                }
            }
        }
    }
    .loc{
        background:url(../assets/loc.jpg) no-repeat;
        background-size:cover;
        background-position:center;
        width:100%;
        height:450px;
    }
    .info2{
        overflow:hidden;
        padding-left:85px;
        padding-top:102px;
        padding-bottom:92px;
        dl{
            dt{
                font-size:24px;
                font-weight:bold;
                padding-bottom:43px; 
            }
            dd{
                line-height:30px;
                font-size:16px;
            }
            &.media{
                float:left;
            }
            &.custom{
                margin-left:390px;
                float:left;
            }
        }
    }
}