footer.footer 
    div.link
        section.main
            dl
                dt 关于FitTime
                dd
                    a(href="") 了解我们
                    a(href="") 联系我们
                    a(href="") 加入我们
            dl
                dt 选购及了解
                dd
                    a(href="") 口袋减脂营
                    a(href="") 口袋辣妈营
            dl
                dt 关注我们
                dd
                    a(href="") 新浪微博
                    a(href="") 微信
                    a(href="") FitTime APP
            dl
                dt 第三方直营店
                dd
                    a(href="") 淘宝直营店
                    a(href="") 京东直营店
        section.aside
            p
                span 周一至周日  
                span 8:00-21:00
            a(href="") 在线客服
    div.copy
        p.copy-info
            span 无锡市睿健时代贸易有限公司 2014-2016 &copy; 版权所有
            span 苏ICP备15049942号-3
            span 苏公网安备32021102000032
        p.copy-link
            span 法律声明
            span 隐私条款

