section.banner.swiper-container
    ul.banner-list.swiper-wrapper
        li.banner-item.swiper-slide
            a.banner-link(href="")
        li.banner-item.swiper-slide
            a.banner-link(href="")
        li.banner-item.swiper-slide
            a.banner-link(href="")
    div.swiper-pagination
        span.swiper-pagination-bullet
        span.swiper-pagination-bullet
        span.swiper-pagination-bullet
        
        
