section.case.common-block 
    h2.block-title.case-title 学员案例
    div.case-banner-container
        ul.case-banner
            li
                figure
                    img(src="/static/case1.jpg", alt="")
                figcaption
                    div.headpic
                    h2 古豆豆
                    div.labels
                        span.green 辅导老师
                        span.red 作息不规律
                    p.msg “作为一个老师，我深知学习讲究技巧，而其实减肥也是一样的，正确的方法才能让你的减肥大业事半功倍。”     
        div.ears
            span.left
            span.right
        div.swiper-pagination2.case-pagination
            span.swiper-pagination-bullet.sel
            span.swiper-pagination-bullet
            span.swiper-pagination-bullet
        