section.info 
    div.info-item
        div.amount
            span.num 60
            p.desc 已报名
        div.other
            p.plus +
            p.unit 期
    div.info-item
        div.amount
            span.num 12000
            p.desc 累计学员
        div.other
            p.plus +
            p.unit 人
    div.info-item
        div.amount
            span.num 90
            p.desc 成功率
        div.other
            p.plus +
            p.unit %
    div.info-item
        div.amount
            span.num 33.7
            p.desc 减脂
        div.other
            p.plus +
            p.unit 吨
    