section.more 
    h2.more-title 了解更多
    div.more-form
        div.form-item
            span.tip 姓名
            input.name.input(type="text")  
        div.form-item
            span.tip 电话
            input.name.input(type="tel")
        div.form-item
            input.name.input(type="button",value="提交")
    p.more-desc 提交信息后，我们的工作人员会在2个工作日内联系您
    
