section.service.common-block 
    h2.service-title.block-title 服务特色
    ul.service-list
        li
            figure
                img(src="/static/service1.jpg")
            figcaption
                h3 群组模式
                p 为用户建立群组，互相监督，共同努力，更好地克服个人惰性，瘦身不孤单；还能随时随地交流减脂经验。 
        li
            figure
                img(src="/static/service2.jpg")
            figcaption
                h3 群组模式
                p 为用户建立群组，互相监督，共同努力，更好地克服个人惰性，瘦身不孤单；还能随时随地交流减脂经验。 
        li
            figure
                img(src="/static/service3.jpg")
            figcaption
                h3 群组模式
                p 为用户建立群组，互相监督，共同努力，更好地克服个人惰性，瘦身不孤单；还能随时随地交流减脂经验。 
        li
            figure
                img(src="/static/service4.jpg")
            figcaption
                h3 群组模式
                p 为用户建立群组，互相监督，共同努力，更好地克服个人惰性，瘦身不孤单；还能随时随地交流减脂经验。 
                


